// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media(max-width:768px){
  .header{
    height: 32px;
    a.logo{
      position: absolute;
      left: 50%;
      margin-left: -16px;
    }
  }
}

body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif
}

.header-container{
  padding: 0 15px;
  border-bottom: 1px solid #e8e8e8;
  width: 100%;
  background-color: #fff;
  box-sizing: border-box;
}

.header{
  display: block;
  padding: 15px 0;
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
  height: 32px;
  a.logo{
    display: inline-block;
    height: 32px;
    float:left;
  }
  .logo svg{
    height: 32px;
    width: 32px;
  }
  .profile {
    display: inline-block;
    height: 32px;
    width: 32px;
    float: right;
    img {
      border-radius: 50%;
    }
  }
}

.content-container {
  padding: 30px 15px;
  background-color: #f9f9f9;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.content {
  max-width: 1100px;
  margin: 0 auto;
  .topics {
    padding-right: 20px;
    h4 {
      display: inline-block;
      text-transform: uppercase;
      font-size: 11px;
      font-weight: 600;
      line-height: 16px;
      color: #999;
      margin-bottom: 10px;
    }
  }
}
